//-
  siteName: 站台名稱
  default: 'Hello, World!'
- const siteName = 'Hello, World!'

//-
  siteName: 站台 URL
  default: ''
- const siteURL = ''

//-
  siteLogo: 站台 Logo 呈現方式
  default: '<a class='text-primary' href='${siteURL}'>${siteName}</a>'
  desc: 建議別動。
- const siteLogo = `<a class='text-primary' href='${siteURL}'>${siteName}</a>`

//- API 請到 src/moneyAPI.js 設定。