//-
  siteName: 站台名稱
  default: 'Hello, World!'
- const siteName = 'Hello, World!'

//-
  siteName: 站台 URL
  default: '/cls/cls/m' (畢竟這專案是給一個網站用的，
  所以這架構是直接用那網站的架構。)
- const siteURL = '/cls/cls/m/money'

//- API 請到 src/moneyAPI.js 設定。